@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap");

$font-1: "Crimson Pro", serif;
$font-2: "Montserrat", sans-serif;
$font-3: "Lora", serif;
$bg-dark: #181719;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $bg-dark;
  color: #ffffff;
}
body {
  padding: 19px 12px;
  position: relative;
  height: 100%;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  .logo {
    font: {
      family: $font-1;
      size: 14px;
      weight: 200;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    width: 103px;
    height: 31px;
  }
}
.overlay {
  background-color: $bg-dark;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  display: grid;
  place-items: center;
}
main {
  display: flex;
  flex-direction: column;
  h1 {
    font: {
      family: $font-3;
      size: 36px;
      weight: 500;
    }
    margin-bottom: 25px;
  }
  p {
    width: 250px;
    margin-bottom: 25px;
    font: {
      family: $font-2;
      weight: 400;
      size: 14px;
    }
  }
  h4 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 37px;
    cursor: pointer;
    transition: all 0.2s;
    font: {
      family: $font-2;
      size: 14px;
      weight: 600;
    }
  }
}
.container {
  position: relative;
  height: 345px;
  margin-bottom: 30px;
  img {
    width: 93vw;
    height: 70vw;
  }
  .profile {
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: $bg-dark;
    width: 80vw;
    height: 37vw;
    padding: 13px 19px;
    .profile-data {
      display: flex;
      gap: 14px;
      align-items: center;
      margin-bottom: 18px;
      img {
        width: 36.585px;
        height: 36.585px;
        border-radius: 37px;
      }
      h5 {
        font: {
          family: $font-2;
          size: 12px;
          weight: 500;
        }
        margin-bottom: 5px;
      }
      h6 {
        color: #828282;
        font: {
          size: 10px;
          family: $font-2;
          weight: 500;
        }
      }
    }
    h2 {
      font: {
        size: 18px;
        weight: 700;
        family: $font-3;
      }
      width: 210px;
    }
  }
}
footer {
  font: {
    family: $font-2;
    weight: 500;
    size: 12px;
  }
  text-align: center;
  background-color: transparent;
  color: #a9a9a9;
  /*  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -123.5px; */
  a {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    font-weight: 800;
    transition: all 0.2s;
    &:hover,
    &:active {
      color: azure;
    }
  }
}
