* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #fafafa;
  position: relative;
  padding: 71px 12px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-bottom: 40px;
}
header h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  color: #000000;
}
header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #000000;
}
header h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 340px;
  color: #000000;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  -moz-column-gap: 18px;
       column-gap: 18px;
  row-gap: 50px;
  justify-content: center;
  margin-bottom: 100px;
  padding-left: 7px;
}

.card:nth-child(even) {
  position: relative;
  top: 50px;
}

.card .inner-card {
  display: flex;
  gap: 6px;
}
.card .rt-caption {
  text-transform: uppercase;
  writing-mode: vertical-lr;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
  letter-spacing: 0.1px;
}
.card .bottom-caption {
  color: #000000;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-letter-spacing: 0.25px;
  line-height: 21px;
}
.card img {
  width: 135px;
  height: 207px;
}

footer {
  padding-bottom: 10px;
  text-align: center;
  color: #a9a9a9;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -130px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}
footer a {
  color: inherit;
  font-weight: 800;
  transition: all 0.3s;
}
footer a:hover {
  color: #000000;
}

@media screen and (min-width: 780px) {
  body {
    padding: 7vw 16vw;
  }
  header {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 96px;
  }
  header h1 {
    font-size: 28px;
  }
  header h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  header h5 {
    font-size: 14px;
    line-height: 27px;
    width: 255px;
  }
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
    margin-bottom: 115px;
  }
  .card .inner-card {
    gap: 10px;
  }
  .card img {
    width: 16vw;
    height: 23vw;
  }
  .card .rt-caption {
    line-height: 16px;
    font-size: 10px;
  }
  .card .bottom-caption {
    line-height: 27px;
    font-size: 12px;
  }
  .card:nth-child(even) {
    top: 0;
  }
  .card:nth-child(3n+2) {
    position: relative;
    top: 100px;
  }
  footer {
    margin-left: -111.5px;
  }
}
@media screen and (min-width: 1000px) {
  header h1 {
    font-size: 36px;
  }
  header h2 {
    font-size: 18px;
  }
  header h5 {
    font-size: 16px;
    width: 300px;
  }
  .card .rt-caption {
    font-size: 12px;
  }
  .card .bottom-caption {
    font-size: 15px;
  }
  footer {
    font-size: 16px;
    margin-left: -148.5px;
  }
}
@media screen and (min-width: 1300px) {
  header h1 {
    font-size: 40px;
    width: -moz-max-content;
    width: max-content;
  }
  header h2 {
    font-size: 24px;
  }
  header h5 {
    font-size: 18px;
    width: 400px;
  }
  .card .rt-caption {
    font-size: 14px;
  }
  .card .bottom-caption {
    font-size: 16px;
  }
  footer {
    /* font-size: 16px;
    margin-left: -148.5px; */
  }
}/*# sourceMappingURL=style.css.map */