* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
html {
  height: 100%;
}
body {
  display: grid;
  place-items: center;
  height: 100%;
  background-color: #fafaf9;
}
.card {
  width: 368px;
  background-color: #ffffff;
  box-shadow: 10px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  .main {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    img {
      border-radius: 12px;
    }
    .tag {
      font: {
        size: 10px;
        weight: 600;
      }
      color: #883ae1;
      background-color: #e6d6fc;
      height: 22px;
      width: 60px;
      border-radius: 30px;
      display: grid;
      place-items: center;
    }
    h4 {
      color: #20293a;
      margin-bottom: 6px;
      font: {
        size: 18px;
        weight: 600;
      }
    }
    p {
      color: #6c727f;
      width: 310px;
      margin-bottom: 4px;
      font: {
        size: 14px;
        weight: 200;
      }
    }
  }
  .footer {
    border-top: 1px solid #e5eaf0;
    height: 40px;
    width: 100%;
    color: #6c727f;
    display: flex;
    align-items: center;
    padding-left: 16px;
    font: {
      size: 12px;
      weight: 200;
    }
  }
}

@media only screen and (max-width: 650px) {
  .card {
    width: 220px;
    .main {
      padding: 10px;
      gap: 10px;
      .tag {
        height: 17px;
        width: 44px;
        font-size: 7.5px;
      }
      h4 {
        font-size: 11px;
      }
      p {
        width: auto;
        font-size: 9px;
        width: 195px;
      }
    }
    .footer {
      height: 30px;
      padding-left: 10px;
      font-size: 8px;
    }
  }
}
