$dark1: #333333;
$dark2: #4f4f4f;
* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
}
.container {
  padding: 20px 10px 24px 24px;
  min-height: 1000px;
  position: relative;
  header {
    font: {
      family: "Inconsolata", monospace;
      weight: 700;
      size: 24px;
    }
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: $dark1;
  }
  main {
    margin-top: 64px;
    font-family: "Space Mono", monospace;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    img {
      width: 287px;
      height: 238px;
    }
    h1 {
      color: $dark1;
      font-weight: 700;
      font-size: 45px;
      line-height: 71px;
      letter-spacing: -0.035em;
      margin-bottom: 30px;
    }
    h6 {
      color: $dark2;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: -0.035em;
      margin-bottom: 64px;
    }
    button {
      background-color: $dark1;
      width: 216px;
      height: 68px;
      color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.035em;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -145.5px;
  padding-bottom: 10px;
}
@media screen and (min-width: 1366px) {
  .container {
    padding: 40px 120px 0 77px;
    min-height: 100vh;
    main {
      margin-top: 75px;
      flex-direction: row;
      gap: 100px;
      img {
        width: 525px;
        height: 400px;
      }
      h1 {
        font-size: 64px;
        line-height: 85px;
      }
      h6 {
        font-size: 24px;
        line-height: 36px;
        width: 380px;
        margin-bottom: 50px;
      }
    }
  }
}
@media screen and (min-height: 765px) {
  .container {
    min-height: 100vh;
  }
}
